<i class="glyphicon glyphicon-repeat loader" *ngIf="loader.weather && ( online | async )" ></i>

<div class="container-fluid" *ngIf="!loader.weather">
  <div class="row header">
    <div class="col-xs-12 col-md-4">
      <button type="button" class="btn btn-link" (click)="getWeather()">
        <i class="glyphicon glyphicon-refresh"></i>
        Refresh
      </button>
    </div>
    <div class="col-xs-6 col-md-5"><span class="heading">Location</span> : {{weatherData ? weatherData.name : ''}}</div>
    <div class="col-xs-6 col-md-3">
      <b>Online Status</b> : {{online | async}}
    </div>
  </div>
  <section *ngIf="weatherData">
    <div class="row description">
      <div class="col-xs-6 col-md-6"><span class="heading">Description</span> : {{weatherData.weather ? weatherData.weather[0].description : ''}}</div>
      <div class="col-xs-6 col-md-6">
        <div class="row">
          <div class="col-md-12"><span class="heading">Lattitude</span> : {{weatherData.coord ? weatherData.coord.lat : ''}}</div>
        </div>
        <div class="row">
          <div class="col-md-12"><span class="heading">Longitude</span> : {{weatherData.coord ? weatherData.coord.lon : ''}}</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-md-6"><span class="heading">Max Temp</span> : {{weatherData.main ? weatherData.main.temp_max : ''}}</div>
      <div class="col-xs-6 col-md-6"><span class="heading">Min Temp</span> : {{weatherData.main ? weatherData.main.temp_min : ''}}</div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-md-6"><span class="heading">Sun Rise Time</span> : {{weatherData.sys ? (weatherData.sys.sunrise | date:'shortTime' ) : ''}}</div>
      <div class="col-xs-6 col-md-6"><span class="heading">Sun Set Time</span> : {{weatherData.sys ? (weatherData.sys.sunset | date:'shortTime' ) : ''}}</div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4"><span class="heading">Wind Speed</span> : {{weatherData.wind ? weatherData.wind.speed : ''}}</div>
      <div class="col-xs-12 col-md-4"><span class="heading">Wind Degrees</span> : {{weatherData.wind ? weatherData.wind.deg : ''}}</div>
      <div class="col-xs-12 col-md-4"><span class="heading">Cloud Count</span> : {{weatherData.clouds ? weatherData.clouds.all : ''}}</div>
    </div>
  </section>
</div>
